@{
    ViewBag.Title = "Home Page";
    var loginName = Session["loginName"] == null ? Request.Cookies["loginName"].Value : Session["loginName"].ToString();
}
<h2>
    @loginName
</h2>

<h3>@Html.ActionLink("AddProject", "CreateProject", "Project")</h3>
<h3>@Html.ActionLink("GetTicketTypeList", "CreateTicketType", "Ticket")</h3>
<h3>@Html.ActionLink("CreateTicketStatus", "CreateTicketStatus", "Ticket")</h3>
<h3>@Html.ActionLink("CreateTicketPriority", "CreateTicketPriority", "Ticket")</h3>
<h3>@Html.ActionLink("CreateRole", "CreateRole", "User")</h3>
<h3>@Html.ActionLink("CreateTicketType", "CreateTicketType", "Ticket")</h3>
<h3>@Html.ActionLink("CreateUserRole", "CreateUserRole", "Home")</h3>

<br /><br />
<h2>My Projects List:</h2>
<div>
    @foreach (var item in Model)
    {
        <p>@item.Name</p>
    }
</div>