@model IEnumerable<BugTrack.DTO.TicketDto>

@{
    ViewBag.Title = "GetTicketsByUserId";
}

<h2>GetTicketsByUserId</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ticketTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketPriorityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketStatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedToUserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ticketTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketPriorityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketStatusId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedToUserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
